/* Custom margins for research page */
.page-content {
    margin: 5 auto;
    max-width: 800px;  /* Adjust the max-width to suit your layout preference */
    padding: 60px;
    line-height: 1.6;
}

/* Additional styling for headings and text to enhance appearance */
h1, h2, h3 {
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    text-align: justify;
}

.page-content a {
    color: #2e86de;
    text-decoration: none;
}

.page-content a:hover {
    text-decoration: underline;
}
