---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    <title>Subarna Banerjee </title>
    <meta name="description" content="Subarna Banerjee's research focuses on education, gender, and political economy.">
    <meta name="keywords" content="Subarna Banerjee, Economics, Research, Education, Gender, Political Economy">
    <meta name="author" content="Subarna Banerjee">
    <meta name="robots" content="index, follow">
    
    <!-- Social Media (Open Graph) Meta Tags -->
    <meta property="og:title" content="Subarna Banerjee - Research">
    <meta property="og:description" content="Explore my research on education, gender, and political economy.">
    <meta property="og:url" content="https://subarna-banerjee.github.io/">
    <meta property="og:type" content="website">
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
{% if page.title == "Research" %}
<link rel="stylesheet" href="/assets/css/research.css">
{% endif %}

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <!--<<div class="page__footer">
      <footer>
        
      </footer>
    </div> -->


    {% include scripts.html %}

  </body>
</html>
